!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Jabas landing
    %link{href: "style.css", rel: "stylesheet"}/
    :css
      @import url('https://fonts.googleapis.com/css2?family=Manrope&family=Raleway:wght@500&display=swap');
  %body
    %a.up_link{name: "up"}
    .up
      %a.up_link{href: "#up"} ^
    %header
      .bg
        %a.jaba_icon{href: ""}
          %img.logo{alt: "logo", src: "https://cdn-icons-png.flaticon.com/512/235/235392.png"}/
        %h1
          %a{href: ""} JABA STORE
      .right_part
        .shop
          %a{href: "#our_frogs"} Наши жабки
        .shop
          %a{href: "#news"} Новости
        .shop
          %a{href: "#reviews"} Отзывы
        .shop
          %a{href: ""} Корзина 🛒
    %section.all
      %section.part1
        .main
          %h2 Забери жабку домой уже сегодня!
          %br/
          %p.line Более 300 видов рептилий и земноводных от 1000 рублей
          %input.search{placeholder: "Поиск по сайту", type: "text"}/
          %button.search_btn Найти
      %section.part2
        .maintxt_part2
          %h2 Преимущества
        .row
          .column
            %img.icons{alt: "location_icon", src: "https://telegra.ph/file/931e89e6734c5bc5ded94.png"}/
            %h3.pluses Более 300 магазинов по всей России и СНГ
            %p.discription Вашу жабку можно забрать лично~ Просто обратитесь в ближайший магазин для консультации
          .column
            %img.icons{alt: "delivery_icon", src: "https://telegra.ph/file/0a66e4829a388523da569.png"}/
            %h3.pluses Доставим за сутки по всей России
            %p.discription Доставим вашу жабку домой, если вы живете в России или СНГ. Мы обеспечим аккуратную перевозку вашего питомца!
          .column
            %img.icons{alt: "turtle_icon", src: "https://telegra.ph/file/89e250d1d2292b96e253a.png"}/
            %h3.pluses Продаем более 300 видов рептилий
            %p.discription У нас найдется жабка на любой вкус! (А еще есть насекомые, земноводные и паукообразные)
      %section.our_frogs
        .froggy_header
          %a{name: "our_frogs"}
            %h2 Наши жабки
        .assortment
          .item
            %img.frogs{alt: "frog_rogatka", src: "https://planetexotic.ru/wa-data/public/shop/products/74/06/674/images/8942/8942.750.jpg"}/
            %h3 Рогатая лягушка Крэнвелла
            %h3 (Ceratophrys cranwelli)
            %p 2150 руб.
            %button.cart В корзину 🛒
          .item
            %img.frogs{alt: "australian_kvaksha", src: "https://planetexotic.ru/wa-data/public/shop/products/82/40/4082/images/8940/8940.750.jpg"}/
            %h3 Австралийские квакши
            %h3 (Litoria caerulea)
            %p 1950 руб.
            %button.cart В корзину 🛒
          .item
            %img.frogs{alt: "ceratophrys_fantasy", src: "https://exomenu.ru/images/watermarked/1/detailed/268/DSC02977_%E2%80%94_%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.JPG"}/
            %h3 Рогатка фантастическая
            %h3 (Ceratophrys Fantasy)
            %p 3500 руб.
            %button.cart В корзину 🛒
          .item
            %img.frogs{alt: "varanus_exanthematicus", src: "https://exotic-city.ru/upload/resize_cache/webp/iblock/99d/58w2586oicywoybzh81mwogkfoqiuep8.webp"}/
            %h3 Капский варан
            %h3 (Varanus exanthematicus)
            %p 21000 руб.
            %button.cart В корзину 🛒
          .item
            %img.frogs{alt: "super_anaconda", src: "https://exo-life.ru/upload/resize_cache/iblock/2fc/430_558_1/cqt2gq10opcinwattgi0lgdlm8b6lekq.jpg"}/
            %h3 Свиноносый уж "Heterodon nasicus"
            %h3 (морфа Super Anaconda)
            %p 19500 руб.
            %button.cart В корзину 🛒
          .item
            %img.frogs{alt: "Эублефар Hypo Tangerine", src: "https://planetexotic.ru/wa-data/public/shop/products/00/29/2900/images/8958/8958.970.jpg"}/
            %h3 Эублефар
            %h3 (Hypo Tangerine)
            %p 5800 руб.
            %button.cart В корзину 🛒
      %section.news_all
        %a{name: "news"}
          %h2 Новости магазина
        .row
          .news.column.bg1
            %h3.news.line_news Новые виды жабок в наличии
            %p.news_p В продажу поступили новые редкие виды жаб. Подробнее узнать в разделе
            %p.news_p
              %a{href: "#our_frogs"} "Наши жабки"
          .news.column.bg2
            %h3.news.line_news Советы: чем кормить черепах?
            %p.news_p Мы подготовили статью для тех, кто очень хочет завести своего первого маленького медленного друга, но не знает как за ним ухаживать.
            %p.news_p
              %a{href: "https://zoogalereya.ru/articles/chem-kormit-cherepakhu-sostavlyaem-pravilnyi-ratsion_art.html"} Читать статью
          .news.column.bg3
            %h3.news.line_news Первые рыбки скоро в продаже!
            %p.news_p Мы постоянно расширяем свой ассортимент, поэтому в продаже скоро появятся тропические рыбки!
          .news.column.bg4
            %h3.news.line_news Рептилиум 2022, коротко о главном
            %p.news_p Наши рпедставители 3й год посещают выставку-продажу "Рептилиум". Расскажем как прошло мероприятие в этом году.
            %p.news_p
              %a{href: "https://vk.com/album-100882506_289756039"} Смотреть фото
          .news.column.bg5
            %h3.news.line_news Скидки до 40% на корма для черепах
            %p.news_p
              Успейте выгодно купить корм для своего любимого друга с панцырем!
          .news.column.bg6
            %h3.news.line_news Новый магазин в Минске открыт!
            %p.news_p
              Мы открыли еще одну точку в Минске. Фото с открытия можно посмотреть в нашей группе вк
            %p.news_p
              %a{href: ""} Смотреть фото
      .froggy_header
        %a{name: "reviews"}
          %h2 Отзывы
      %section.reviews
        .review
          .photo
          %h3.user user_1245
          %p.user.p С тех пор этот питомец поселился у меня дома, и теперь я могу спокойно заниматься своими делами, пока он спит. К тому же, его размеры не позволяют мне переживать, что он может причинить вред домашним животным. За все это время он ни разу не укусил меня, и это главное. Ну а его внешний вид, который просто завораживает, заставляет меня смотреть на него часами, не отрываясь. В общем, я просто в восторге от этого питомца. Он заслуживает всех похвал и наград.
        .review
          .photo
          %h3.user user_524
          %p.user.p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque atque consectetur harum placeat laudantium officiis autem quia minima ab soluta delectus necessitatibus incidunt laboriosam ipsum error, qui, laborum minus dolor natus aspernatur beatae est dolores! Consectetur adipisci fugiat a suscipit magni. Reiciendis, nostrum. Est similique labore, adipisci ad nulla repellendus.
        .review
          .photo
          %h3.user user_163
          %p.user.p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus a reiciendis natus, rerum, quidem incidunt asperiores doloribus neque eum assumenda facere excepturi officia sint harum itaque architecto, adipisci culpa laudantium deserunt est? Repellat laborum qui praesentium quae molestias ea neque reiciendis id dolorem quis inventore commodi nulla, incidunt totam sed?
    %footer
      .footer ©JABA STORE
      .footer Контактный телефон: +7-917-333-45-67
      .footer email: jaba_store@gmail.ru
      .grid.footer
        .credit
          %a{href: "https://www.flaticon.com/free-icons/user", title: "user icons"} User icons created by Freepik - Flaticon
        .credit
          %a.credits{href: "https://www.flaticon.com/free-icons/delivery", title: "delivery icons"} Delivery icons created by Kiranshastry - Flaticon
        .credit
          %a.credits{href: "https://www.flaticon.com/free-icons/location", title: "location icons"} Location icons created by Freepik - Flaticon
        .credit
          %a.credits{href: "https://www.flaticon.com/free-icons/turtle", title: "turtle icons"} Turtle icons created by Smashicons - Flaticon
      .right_part.footer